# ============================================================
# Python
# ============================================================

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Données — données / fichiers potentiellement confidentiels
# ============================================================

data/raw/
data/processed/
data/results/anomaly_detection


# ============================================================
# Power BI — données / fichiers potentiellement confidentiels
# ============================================================

*.pbix

# ============================================================
# OS / IDE
# ============================================================

.DS_Store
Thumbs.db
.vscode/
.idea/